 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1rem;
     
    
}
#main-doc{
     display: flex;
     flex-direction: row;
     
     margin-top:-9px;
      
 }

 .main-title{
    border-bottom: 2px solid hsl(0, 0%, 85%);
    width:250px;
    /* background-color: #2b5b84; */
     background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK7Xy2ziMwt2lVsCm2iQvWT_Mw0nZampTT5g&usqp=CAU');
    background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
    position:relative;
 }

   #navbar{
       position: fixed;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       border: 2px solid gray;
       border-left: none;
       left:0px;
     
 
       
    }
    #navbar header{
        height:121px;
    }

     #navbar  ul{
     
        list-style-type: none;
        width: 250px; 
        display: block; 
        height:491px;
         padding: 0;
         overflow: scroll;
    }

  #navbar h1{

    padding-bottom: 30px;
    margin-left: 40px;
    color:whitesmoke;
    padding-bottom: 0;
    font-size: 20px;
    position: absolute;
    right:20px;
    bottom:-2px;
    font-weight: lighter;
 
  }  

    .nav-link{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid hsl(0, 0%, 85%);
    padding:10px 0px 10px 20px;
   

    }

     

code{
    background-color: hsl(0, 0%, 95%);
}
pre{
    background-color: hsl(0, 0%, 95%);
    width:526px;
    padding-left: 10px; 
    box-shadow: 0 10px 40px -14px rgb(0 0 0 / 25%);
}


 #main-content{
     display: flex;
     flex-direction: column;
     margin-left: 300px;
     margin-top: 20px;
 }

  

 p,li{
     font-weight: 100;
    
    
 }

 .nav-toggle{
     display:none;
 }
 @media screen and (max-width:1024px){
     body{
     font-size : 1rem;}
 }
  /* for mobile */
 @media (max-width:861px){

    body {
        padding: 0;
        margin: 0;
        font-size: 0.9rem;
        display: block;
      }
      #navbar {
        display: block;
        width: 100%;
        border-right: none;
        border-bottom: none;
        overflow-y: visible;
        overflow-x: visible;
        position: fixed;
        top: 0;
        padding: 0;
        height: 30px !important;
      }
      #navbar ul {
        width: 100%;
        list-style-type: none;
        display: none;
        background: hsl(0, 0%, 98%);
        padding-top: 0;
        margin: 0;
        padding-bottom:0;
        height: 310px;
      }

      #navbar,
      .nav-toggle {
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: none;
      }

      .nav-toggle {
        display: block;
        font-size: 27px;
        padding: 5px 0;
        color: black;
        background: hsl(0, 0%, 98%);
      }

      nav .main-title {
        display: none;
      }

      .nav-toggle a {
        text-decoration: none;
        color: black;
      }
      .nav-link {
        padding: 2px 0;
        display: block;
        width: 100%;
        text-align: center;
        padding-top:0;
        padding-bottom: 0;
      }
      .nav-link h3{
          margin: 0;
          font-weight: lighter;
      }
    
      #main-doc {
        padding-top: 40px;
        margin: 0 auto;
        max-width: 90%;
        display: flex;
        flex-direction: column;

         
      }

      footer{
        margin-left: 345px;
      }

      body{
        margin: auto;
      }
    
     
}

footer{
  margin-left: 345px;
}

#navbar ul li:hover{


  background-color: rgb(238, 235, 235);
   
    
}

  

  
 

 